img {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

body {
	background-color: #FFCC00
	}
	
li {	
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
}

#menubar {
	position: fixed;
	top:50%;
	left:75%;
	margin-left:-254px;
	margin-top: -50px;
}
#textcss {
	position: fixed;
	top:50%;
	left:30%;
	margin-left:-254px;
	margin-top: -50px;